/* general page properties */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Gellix,Open Sans,Helvetica Neue,sans-serif;
    padding: 0;
}
/* general body properties */
.container{
    display: flex;
    flex-direction: column;
}


/* navbar properties */
.head_container{
    display: flex;
    padding-top: 18px;
    margin-bottom: 10px;
   
}

img[alt="sturx_img"]{
    height: 48px;
    width: 60px;
    margin-left: 100px;
    margin-right: 500px;
}
.head_links{
    width: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.first_link{
    margin-left: 330px;
    padding: 10px 30px;
    font-size: large;
    margin-right: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: green;
    color: green;
    text-decoration: none;
}
#sec_link{
    padding: 12px 28px;
    font-size: large;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #25501e;
    border: none;
    text-decoration: none;
    color: white;
}

/* main body content */
.spurx_content{
    display: flex;
    flex-direction: column;
}


/* sections1: HR Toolkit and circle pictures */
.cover{
    background-image: linear-gradient(to right top, #25501e,rgb(46, 106, 46));
    height: 83vh;
    margin-bottom: 50px;
}
.hr_toolkit{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70vh;
   padding-top: 70px;
    
}
.HR_text{
    padding-top: 40px;
    padding-right: 40px;
    color: white;

}
.HR_text > h1{
    font-size: 70px;
}
.spurx_s{
    margin-bottom: 15px;
}
.spurx_ex{
    margin-bottom: 40px;
}
a[href="../Spurtx/spurx.html"]{
    padding: 12px 25px;
    border-radius: 8px;
    background-color: white;
    color: #25501e;
    text-decoration: none;
    margin-right: 30px;
}
.HR_img{
    padding-bottom: 200px;
    height: 65vh;
}
img[src="sturx_img/circle-design.png" ]{
    height: 65vh;
    width: 500px;
}

/* section2: Product suite */
.product_suite{
    background-color: #f3f3f3;
    text-align: center;
    margin-bottom: 70px;
    
}
.product_suite > h2{
    padding-top: 50px;
}
.product_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 120px;
    height: 80vh;
}

.circle{
    width: 45px;
    height: 20px;
    margin-top: 25px;
    margin-left: 12px;

}
.circle_2{
    margin-top: 50px;
    margin-bottom: 20px;
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    margin-left: 110px;
    box-shadow: 10px 10px 10px 10px #f3f3f3;
}
.circle_f{
    width: 50px;

}
.spark_container{
    height: 60vh;
    width: 300px;
    text-align: justify;
    border-radius: 10px;
    margin-top: 50px;
    background-color: white;
    margin-bottom: 50px ;
}
.spark_container:hover{
   background-color: rgba(255, 255, 255, 0.7);
   color: rgba(0, 0, 0, 1);
}
.spark_text{
    height: 70px;
    width: 250px;
    margin-left: 35px;
    margin-bottom: 100px;
    color: black;
    opacity: 0.7;
}
.spark_learn_more >a{
    border: 2px solid green;
    margin-left: 35px; ;
}
/* section3: learage the HR toolkit */
.dash_container{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
img[src="sturx_img/sparkDashBoardscreen.png"]{
    height: 65vh;
    width: 650px;
    margin-left: 50px;
}
.dash_h{
    font-size: 35px;
    margin-left: 60px;
    margin-right: 100px;
    margin-bottom: 80px;
}
.Trusted{
    margin-left: 60px;
    margin-right: 100px;
    margin-bottom: 70px;
}
#dash_link{
    border:none;
    border-radius: 10px;
    margin-left: 60px; 
    background-color: #25501e;
    color: white; 
}

/* section4: how it works */
.how_it_works{
    text-align: center;
    background-color: #25501e;
    color: white;
    height: 85vh;
    align-items: center;
    overflow: hidden;
    margin-bottom: 100px;
}
.slick_slider_container{
    display: flex;
    justify-content: center;
    gap: 38px;
    position: relative;
    animation-name: example;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    margin: 0px 20px;
}
@keyframes example {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.main_slider_container{
    display: flex;
    
}
.how_it_works > h2{
    margin-top: 75px;
    font-size: 40px;
    margin-bottom: 25px;
}
.how_it_works > h4{
    margin-bottom: 50px;
}
.monitor{
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 50px;
    height: 150px;
    width: 300px;
}
.box_title{
    margin-bottom: 10px;
    text-align: center;
}

.satisfaction{
    height: 130px;
}
/* section5: barchat img section */
.bar_chart_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #f3f3f3;
}
.bar_text_head{
    font-size: 30px;
}
.bar_text{
    width: 600px;
}
.bar_chart_img{
    margin-left: 150px;
}
img[src="sturx_img/bar.png" ]{
    width: 450px;
    height: 48vh;
    border-radius: 10px;
}
form[action="post"]{
    white-space: no-wrap;
    display: flex;
    margin-top: 100px;
}
input[ type="text"]{
    height: 50px;
    width: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    border: none;
}
input[type="submit" ]{
    width: 100px;
    height: 50px;
    font-size: 20px;
    color: #f3f3f3;
    background-color: #25501e;
    border-radius: 5px;
    border: none;
}


/* last logo / last part of main */
.last_flex_container{
    background-color: #f3f3f3;
}
.last_flex{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
    gap: 150px;
    height: 250px;
}
img[alt="logo_img"]{
    height: 150px;
    width: 150px;
}
.about_content{
    margin-top: 20px;
    margin-bottom: 40px;
}
.Contact_l{
    padding-bottom: 15px;
}
ul{
    list-style-type: none;
}
.company{
    line-height: 25px;
}
.icon{
    background-color: black;
    color: #f3f3f3;
    height: 25px;
    width: 25px;
    margin: 3px;
    padding-top: 4.8px;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
}
.icon:hover{
    background-color: rgb(41, 83, 41);
}
.logo_img a{
    text-decoration: none;
}
/* footer section */
.reserved{  
    height: 9.2vh;
    text-align: center;
    padding-top: 20px;
    color: #f3f3f3;
    background-color: #25501e;
}
@media only screen and (max-width: 768px){
    .head_links{
        visibility: hidden;
    }
    img[src="sturx_img/circle-design.png" ]{
        visibility: hidden;
        height: 0vh;
        width: 0px;
    }
    .HR_text{
        margin-left: 2rem;
        display: block;
    }
    .learn_more{
        display: block;
        margin-top: 3rem;
    }
    .product_container{
        margin-top: 50vh;
        display: flex;
        flex-direction: column;
    }
    .product_suite{
        height: 180vh;
    }
    .dash_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img[src="sturx_img/sparkDashBoardscreen.png"]{
        height: 20rem;
        width: 20rem;
        margin-bottom: 1rem;
        align-self: center;
        margin-left: 2rem;
    }
    .bar_chart_sec{
        flex-direction: column;
        
        margin: 10px;
        align-items: center;
        justify-content: center;
    }
    img[src="sturx_img/bar.png"]{
        align-self: center;
        height: 40vh;
        width: 90vw;
        margin-right: 150px;
    }
    .bar_text_head{
        text-align: center;
        font-size: 20px;

    }
    .main-tex{
       font-size: 10px;

    }
    .last_flex_container{
        background-color: aed4e6;
        opacity: 0.7;
    }
    .reserved{
       margin-bottom: 70px;
       position: relative;
       top: 80px;
    }
    
}